*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body
{
    background-color: #002339;
    width: 100vw;
    height: 100vh;
    color: #fff;
}

.container
{
    margin: 8%;
    width: 90%;
    max-width: 700px;
    /* background-color: white; */
    padding: 50px;
    /* border: 1px solid red; */
}
.line
{
    width: 58%;
    height: 3px;
    background-color: green;
    margin-bottom: 30px;
}

.header
{
    display: flex;
    flex-direction: column;
}

input
{
    border: 0;
    outline: 0;
    font-size: 24px;
}
.password-box img
{
 width: 30px;
 /* height: 25px; */
 cursor: pointer;
}

.password-box
{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: white;
    color: #333;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:26px 20px;
}
.btn
{
    display: flex;
    background-color: #019f55;
    padding: 10px 12px;
    font-size: 11px;
    font-weight: 300;
    border-radius: 5px;
    width: 40%;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.gi
{
    width: 28px;
    /* height: 30px; */
    margin-right: 10px;
}

h1
{
    font-weight: 500;
    font-size: 45px;
}

h2
{
    font-weight: 400;
}
span
{
color: #019f55;
border-bottom: 4px solid #019f55;
}

@media (max-width: 576px) {
    .container {
        margin: 5%;
        padding: 10px;
    }

    

    .password-box {
        width: 100%;
    }

    .password-box input
    {
        width: 70%;
    }

    .btn {
        width: 100%;
    }

    h1 {
        font-size: 32px;
    }
    .header
    {
        width: 100%;
    }
}